<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/business-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2">Firstname</th>
                        <th class="text-center col-2">Lastname</th>
                        <th class="text-center col-1">Email</th>
                        <th class="text-center col-1">Contact Number</th>
                        
                    <% } else { %>
                        <th class="text-center col-2">Firstname</th>
                        <th class="text-center col-2">Lastname</th>
                        <th class="text-center col-1">Email</th>
                        <th class="text-center col-1">Contact Number</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-2"><%= BusinessList[count].firstname %></td>
                            <td class="text-center col-2"><%= BusinessList[count].lastname %></td>
                            <td class="text-center col-1"><%= BusinessList[count].email %></td>
                            <td class="text-center col-1"><%= BusinessList[count].contactnumber %></td>            
                            <td class="text-center col-1">
                                <a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/business-list/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                         <% } else { %>
                            <td class="text-center col-2"><%= BusinessList[count].firstname %></td>
                            <td class="text-center col-2"><%= BusinessList[count].lastname %></td>
                            <td class="text-center col-1"><%= BusinessList[count].email %></td>
                            <td class="text-center col-1"><%= BusinessList[count].contactnumber %></td>  
                         <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  

  <%- include ../partials/footer.ejs %>
  <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
      <!--start-smooth-scrolling-->
                          <script type="text/javascript">
                                      $(document).ready(function() {
                                          /*
                                          var defaults = {
                                              containerID: 'toTop', // fading element id
                                              containerHoverID: 'toTopHover', // fading element hover id
                                              scrollSpeed: 1200,
                                              easingType: 'linear' 
                                          };
                                          */
                                          
                                          $().UItoTop({ easingType: 'easeOutQuart' });
                                          
                                      });
                                  </script>
                                  <!--end-smooth-scrolling-->
  <!-- //for bootstrap working -->
      <script src="/javascripts/bootstrap.js"></script>
  
  





